@model List<ScratchPad.Models.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Brands</h2>
<div class="d-flex justify-content-between">
    @Html.ActionLink("Create", "Create", "Brand", new { area = "Admin" },new{@class="form-inline"})
    @using (Html.BeginForm("Index", "Brand", null,FormMethod.Get, new { @class = "form-inline" }))
    {
        <label for="search">Search</label>
        <input type="search" name="searchBrand" id="search" class="form-control" value="@ViewBag.SearchTerm" />
        <button class="btn btn-primary">GO</button>
    }

</div>
<table class="table mt-2">
    <thead>
        <tr>
            <th>
                BrandID
            </th>
            <th>
                Brand Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.BrandID</td>
                <td>@brand.BrandName</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Brand", new { area = "Admin", id = @brand.BrandID })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Brand", new { area = "Admin", id = @brand.BrandID })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Brand", new { area = "Admin", id = @brand.BrandID })
                </td>
            </tr>
        }

    </tbody>
</table>