@model ScratchPad.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Products", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.ProductName, new { @for = "productName" })
            @Html.TextBoxFor(p => p.ProductName, new { @class = "form-control", id = "productName", placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Price, new { @for = "productPrice" })
            @Html.TextBoxFor(p => p.Price, new { @class = "form-control", id = "productPrice", placeholder = "price" })
            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })


        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.DateOfPurchase, new { @for = "DateOfPurchase" })
            @Html.TextBoxFor(m => m.DateOfPurchase, new { @class = "form-control", id = "DateOfPurchase", Type = "date" })

        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.AvailabilityStatus, new { @for = "AvailabilityStatus" })
            @Html.DropDownListFor(p => p.AvailabilityStatus, new List<SelectListItem>()
            {
                new SelectListItem(){Text = "In Stock",Value = "InStock"},
                new SelectListItem(){Text = "Out Of Stock",Value = "OutOfStock"},
            }, "Please select", new { @id = "AvailabilityStatus", @class = "form-control" })

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.CategoryID, "Category", new { @for = "CategoryID" })

            @Html.DropDownListFor(p => p.CategoryID
                , new SelectList(ViewBag.Categories, "CategoryID", "CategoryName")
                , "Please select"
                , new { @class = "form-control", id = "CategoryID" })

        </div>

        <div class="form-group col-md-6">
            @*<label for="BrandID">Brand ID</label>*@
            @Html.LabelFor(p => p.BrandID, "Select Brand", new { @for = "BrandID" })

            @Html.DropDownListFor(p => p.BrandID
                , new SelectList(ViewBag.Brands, "BrandID", "BrandName")
                , "Please select"
                , new { id = "BrandID", @class = "form-control" })

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Image">Image</label>
            <input type="file" class="form-control-file" id="Image" name="Photo" />
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Active, new { @for = "active" })
            @Html.CheckBoxFor(p => p.Active.Value, new { @id = "active", value = "true" })
            @*<input type="checkbox" id="active" name="Active" value="true" />*@
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a href=@Url.Action("Index","Products",new{area="Admin"}) class="btn btn-danger">Cancel</a>
}
