
@using CompanyName.DomainModels
@model CompanyName.DomainModels.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/ManagerLayoutPage.cshtml";
}

<h2>Edit</h2>

<form method="post" action=@Url.Action("Edit", "Products",new{area="Manager"}) enctype="multipart/form-data">
    <input type="hidden" name="ProductID" value="@Model.ProductID" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" name="ProductName" value="@Model.ProductName" />
        </div>
        <div class="form-group col-md-6">
            <label for="productPrice">Product Price</label>
            <input type="text" class="form-control" id="productPrice" name="Price" value="@Model.Price" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DateOfPurchase">Date Of Purchase</label>
            <input type="date" class="form-control" id="DateOfPurchase" name="DateOfPurchase" value="@Model.DateOfPurchase.Value.ToString("yyyy-MM-dd")" />
        </div>

        <div class="form-group col-md-6">
            <label for="AvailabilityStatus">Availability Status</label>
            <input type="text" class="form-control" id="AvailabilityStatus" name="AvailabilityStatus" value="@Model.AvailabilityStatus" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="CategoryID">Category</label>
            @*<input type="text" class="form-control" id="CategoryID" name="CategoryID" value="@Model.CategoryID"/>*@
            <select class="form-control" id="CategoryID" name="CategoryID">
                <option value="">Please Select</option>
                @foreach (Category cat in (List<Category>)ViewBag.Categories)
                {
                    if (cat.CategoryID == Model.CategoryID)
                    {
                        <option value=@cat.CategoryID selected="selected">@cat.CategoryName</option>
                    }
                    else
                    {
                        <option value=@cat.CategoryID>@cat.CategoryName</option>
                    }
                }
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="BrandID">Brand</label>
            @*<input type="text" class="form-control" id="BrandID" name="BrandID" value="@Model.BrandID"/>*@
            <select class="form-control" id="BrandID" name="BrandID">
                <option value="">Please Select</option>
                @foreach (Brand brand in (List<Brand>)ViewBag.Brands)
                {
                    if (brand.BrandID == Model.BrandID)
                    {
                        <option value=@brand.BrandID selected="selected">@brand.BrandName</option>
                    }
                    else
                    {
                        <option value=@brand.BrandID>@brand.BrandName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Image">Image</label>
            <input type="file" class="form-control-file" id="Image" name="Photo" />
        </div>
        <div class="form-group col-md-6">
            <label for="active">Active</label>
            <input type="checkbox" id="active" name="Active" value="true" checked="@Model.Active" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a href=@Url.Action("Index", "Products",new{area="Manager"}) class="btn btn-danger">Cancel</a>
</form>