@model ScratchPad.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details Of the Product</h2>
<table class="table mt-2">
    <tr>
        <th>
            ProductID
        </th>
        <td>
            @Model.ProductID
        </td>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <td>
            @Model.ProductName
        </td>
    </tr>
    <tr>
        <th>
            Price
        </th>
        <td>
            @Model.Price
        </td>
    </tr>
    <tr>
        <th>
            DateOfPurchase
        </th>
        <td>
            @Model.DateOfPurchase.Value.ToString("D")
        </td>
    </tr>
    <tr>
        <th>
            AvailabilityStatus
        </th>
        <td>
            @Model.AvailabilityStatus
        </td>
    </tr>
    <tr>
        <th>
            CategoryID
        </th>
        <td>
            @Model.CategoryID
        </td>
    </tr>
    <tr>
        <th>
            BrandID
        </th>
        <td>
            @Model.BrandID
        </td>
    </tr>
    <tr>
        <th>
            Active
        </th>
        <td>
            @Model.Active
        </td>
    </tr>
    <tr>
        <td>
            <a href=@Url.Action("Index","Products")>Back To List</a>
        </td>
    </tr>
</table>
